<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
<footer id="footer" class="">
    <div class="footer-container">
<!--      <div class="footer-sections">
            <div class="section">
                <h4 class="heading">About FoodPrint</h4>
                <ul class="stack-link">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/features">Features & Benefits</a></li>
                    <li><a href="/terms">Terms of Use</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="section">
                <h4 class="heading">Features</h4>
                <ul class="stack-link">
                    <li>Harvest Logbook</li>
                    <li>Storage/Handover Logbook</li>
                    <li>Track & Trace Produce</li>
                    <li>Blockchain Explorer</li>
                    <li>Wholesale Marketplace</li>
                    <li>QR Code Scanning</li>
                    <li>Reporting & Analytics</li>
                    <li>WhatsApp Chatbot</li>
                </ul>
            </div>
            <div class="section">
                <h4 class="heading">Resources and Tools</h4>
                <ul class="stack-link">
                    <li><a href="https://sacoronavirus.co.za" target="_blank">COVID-19 South African Online Portal</a></li>
                    <li><a href="/tech101">Blockchain and Technology 101</a></li>
                    <li><a href="/food101">Food Facts 101</a></li>
                </ul>
            </div>
        </div> -->
        <div class="copyright-social-links">
            <div class="copyright">
                <p> Copyright &copy;<a href="http://foodprintlabs.com/ "> FoodPrint Labs (Pty) Ltd</a>. Website - <a href="https://jskdezign.com/ " target="_blank ">JSKDEZIGN</a>.</p>
            </div>
            <ul class="social-links-list ">
                <li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffoodprintlabs.com&text=FoodPrint%3A%20Fresh%20food,%20from%20farm-to-fork.%20Follow%20@foodprintlabs%20%23FoodPrint%20%23FarmToFork%20%23Tech4Good%20%23Blockchain%20%23ProudlySouthAfrican "
                        class="icon " target="_blank " aria-pressed="true " id="twitterMenuButton "><i class="icon-twitter "></i></a></li>
                <li><a href="https://www.facebook.com/foodprintlabs "><i class="icon-facebook "></i></a></li>
                <li><a href="https://www.linkedin.com/company/foodprintlabs "><i class="icon-linkedin "></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- end footer -->