<!-- views/partials/header.ejs -->
<!-- START: header -->
<!-- add immediately after body tag-->
<div id="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo-name">
            <img class="logo" src="/new_images/logo.png" alt="logo">
            <h1 class="name">FoodPrint</h1>
        </a>
        <div class="menu-btn">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>

        <nav class="navbar-menu">
            <ul class="navbar-menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li>
                    <a class="cta-button request-demo-btn" href="#">Request Demo</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END: header -->
<!-- ---- Burger Menu Clicking Script ------------>

<script>
    document.querySelector(".menu-btn").addEventListener("click", abc);

    function abc() {
        document.querySelector(".navbar-menu").classList.toggle("show");
    }
</script>