<!-- views/partials/header.ejs -->
<!-- START: header -->
<!-- add immediately after body tag-->
<div id="navbar">
    <div class="navbar-container">

        <a href="/" class="navbar-logo-name">
            <img class="logo" src="/new_images/logo.png">
            <h1 class="name">Foodprint</h1>

        </a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <nav class="navbar-menu">
            <ul class="navbar-menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li>
                    <a class="cta-button" href="https://live.foodprintlabs.com/app/auth/login/">Request Demo</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END: header -->