<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <!-- START: navbar -->


    <header>
        <% include ./partials/header %>
    </header>
    <!-- END: navbar -->

    <!-- START: navbar -->
    <section id="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">We <span class="highlight">connect</span> farmers to markets, services & information.</h1>
            <p class="sub-heading">FoodPrint makes it easier for farmers to maintain records, access crop insurance and get to market. Accessible via <a href="https://live.foodprintlabs.com" target="_blank">Web</a> & <a href="https://wa.me/+27600189621" target="_blank">WhatsApp</a>.</p>
            <a class="cta-button request-demo-btn" href="https://live.foodprintlabs.com/app/auth/login/">Request Demo</a>
        </div>
    </section>

    <!-- END: header  -->


    <!-- START: Benefits -->

    <section id="benefits">
        <div class="section-header">
            <h1 class="section-title">Why Use FoodPrint?</h1>
        </div>
        <div class="benefits-container">
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Farm-to-Fork Traceability</div>
                <p class="description"></p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/production.png" alt="traceability" class="icon">
                <div class="feature-title">Farmer Production Records</div>
                <p class="description"></p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/finance.png" alt="traceability" class="icon">
                <div class="feature-title">Access to micro-insurance</div>
                <p class="description"></p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/information.png" alt="traceability" class="icon">
                <div class="feature-title">Access to markets</div>
                <p class="description"></p>
            </div>
        </div>
    </section>

    <!-- END: Benefits -->

    <!-- START: Features -->

    <section id="features">
        <div class="section-header">
            <h1 class="section-title">Features</h1>
        </div>
        <div class="features-container">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_gardening_re_e658.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Farmers</h1>
                    <ul class="description">
                        <li>Harvest Logbook</li>
                        <li>Wholesale Marketplace</li>
                        <li>Farmer Records</li>
                        <li>Real-time Produce Prices</li>
                        <li>Digital Wallet</li>
                        <li>Disease Detection</li>
                        <li>Farmer Advisory</li>
                    </ul>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_add_to_cart_re_wrdo.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Buyers</h1>
                    <ul class="description">
                        <li>Wholesale Marketplace</li>
                        <li>Farm-to-Fork Traceability</li>
                    </ul>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_services_re_hu5n.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Service Providers</h1>
                    <ul class="description">
                        <li>Farmer Records</li>
                        <li>Reporting & Analytics</li>
                        <li>Farmer Directory</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- END: Features -->

    <!-- START: Subscribe Section -->

    <section id="subscribe-section">
        <div class="section-header">
            <h1 class="section-title">Subscribe</h1>
        </div>
        <p>Be part of the FoodPrint community and receive updates.</p>
        <form class="form validate" id="subscribe-form" action="https://foodprintapp.us14.list-manage.com/subscribe/post?u=95746e622ecbb547ec9bdebf3&amp;id=e50371b271&amp;f_id=00798ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
            target="_blank" novalidate>
            <div class="form-group">
                <input placeholder="Email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required />
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
            <div hidden="true"><input type="hidden" name="tags" value="8309874"></div>
            <div id="mce-responses" class="foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <button type="submit" class="form-submit">Send</button>
        </form>

        <text id="subscribe_result"></text>
        <div class="alert-danger " id="error-group " style="display: none">
            <ul id="errors "></ul>
        </div>
    </section>

    <!-- END: Subscribe Section -->


    <!-- START: DGS -->

    <section id="gds-section">
        <div class="section-header">
            <h1 class="section-title">Sustainable Development Goals</h1>
        </div>
        <div class="gds-container">
            <div class="gds-item">
                <img src="/img/E_WEB_02.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_08.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_09.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_12.png" class="gds-icon" alt="" />
            </div>
        </div>
    </section>

    <!-- END: DGS -->


    <!-- START: Partners -->
    <section id="partners">
        <div class="section-header">
            <h1 class="section-title">Partner Network</h1>
        </div>
        <div class="partners-container">
            <div class="partners-item probootstrap-animate">
                <img src="/img/algorand_foundation.jpg" class="partners-icon" alt="Algorand Foundation" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/feed.jpg" class="partners-icon" alt="Food Equity, Equality and Democracy" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/ozcf.jpg" alt="Oranjezicht City Farm" class="partners-icon" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/pedi.jpg" alt="Philippi Economic Development Initiative" class="partners-icon" alt="" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/uct.jpg" alt="University of Cape Town" class="partners-icon" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/oribi.jpg" alt="Oribi Village Impact Incubator" class="partners-icon" />
            </div>
        </div>
    </section>
    <!-- END: Partners -->
    <!-- START: Featured On -->

    <section id="featured-on">
        <div class="section-header">
            <h1 class="section-title">Featured On</h1>
        </div>
        <div class="featured-on-container">
            <div class="featured-on-item">
                <img src="/new_images/sabc.png" class="featured-on-icon" alt="" />
            </div>
            <div class="featured-on-item">
                <img src="/new_images/enca.png" class="featured-on-icon" alt="" />
            </div>
            <div class="featured-on-item">
                <img src="/new_images/uct_news.png" class="featured-on-icon" alt="" />
            </div>
        </div>
    </section>

    <!-- END: GDS -->
    <!-- START: Contact US -->

    <section id="contact">
        <div class="section-header">
            <h1 class="section-title">Contact Us</h1>
        </div>
        <form id="contact_form" method="post" class="form">
            <div class="form-group">
                <label for="name" class="form-group">Name</label>
                <input id="contact_name" name="name" placeholder="Name" />
            </div>
            <div class="form-group">
                <label for="email" class="form-group">Email</label>
                <input id="contact_email" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="message" class="form-group">Message</label>
                <textarea id="contact_message" name="message" placeholder="Message" cols="20" rows="5"></textarea>
            </div>
            <button type="submit" class="form-submit">Send</button>
        </form>
        <text id="contact_send_clicked"></text>
        <text id="contact_result"></text>
        <div class="alert-danger" id="contact_error_group" style="display: none">
            <ul id="contact_errors"></ul>
    </section>

    <!-- END: Contact US -->


    <!-- start footer -->
    <% include ./partials/footer %>
        <!-- end footer -->



        <div id="demoRequestModal">
            <div class="overlay"></div>
            <div class="modal-container">
                <div class="modal-dialog">
                    <div class="header">
                        <h1 class="title">Request a demo</h1>
                        <span id="close-request-modal" class="close-icon"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="form-container">

                        <form id="demo_form" method="post" class="form">
                            <div class="form-group">
                                <label for="name" class="form-group">Name</label>
                                <input id="name" name="name" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-group">Email</label>
                                <input id="email" name="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label for="message" class="form-group">Message</label>
                                <textarea id="message" name="message" placeholder="Message" cols="10" rows="4"></textarea>
                            </div>
                            <button type="submit" class="form-submit">Send</button>
                        </form>
                        <text id="contact_send_clicked"></text>
                        <text id="contact_result"></text>
                        <div class="alert-danger" id="contact_error_group" style="display: none">
                            <ul id="contact_errors"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gototop js-top">
                <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
            </div>

            <script>
                $(document).ready(function() {
                    $('#contact_form').submit(function(event) {
                        event.preventDefault();
                        //collect the form data using Id Selector what ever data you need to send to server
                        var data = {};
                        data.contact_name = $('#contact_name').val();
                        data.contact_email = $('#contact_email').val();
                        data.contact_message = $('#contact_message').val();
                        $("#contact_form").hide();
                        $('#contact_error_group').hide();
                        $('#contact_result').html('');
                        $('#contact_send_clicked').html('Thanks for getting in touch.');
                        $.ajax({
                            url: '/contactform',
                            data: JSON.stringify(data),
                            processData: false,
                            type: 'POST',
                            contentType: 'application/json'
                        }).done(function(res) {
                            if (res.success) {
                                //$("#contact_form").get(0).reset() // or $('form')[0].reset()
                                $("#contact_form").hide();
                                $('#contact_error_group').hide();
                                $('#contact_result').html('Message sent.');
                            } else {
                                $("#contact_form").show();
                                $('#contact_result').html('Message failed to send. Please try again.');
                                $('#contact_error_group').css('display', 'block');
                                var errors = JSON.parse(JSON.stringify(res.errors));
                                var errorsContainer = $('#contact_errors');
                                errorsContainer.innerHTML = '';
                                var errorsList = '';

                                for (var i = 0; i < errors.length; i++) {
                                    errorsList += '<li>' + errors[i].msg + '</li>';
                                }
                                errorsContainer.html(errorsList);
                            }
                        });
                    });
                    $('#demo_form').submit(function(event) {
                        event.preventDefault();
                        //collect the form data using Id Selector what ever data you need to send to server
                        var data = {};
                        data.contact_name = $('#name').val();
                        data.contact_email = $('#email').val();
                        data.contact_message = $('#message').val();
                        $("#contact_form").hide();
                        $('#contact_error_group').hide();
                        $('#contact_result').html('');
                        $('#contact_send_clicked').html('Thanks for getting in touch.');
                        $.ajax({
                            url: '/contactform',
                            data: JSON.stringify(data),
                            processData: false,
                            type: 'POST',
                            contentType: 'application/json'
                        }).done(function(res) {
                            if (res.success) {
                                //$("#contact_form").get(0).reset() // or $('form')[0].reset()
                                $("#contact_form").hide();
                                $('#contact_error_group').hide();
                                $('#contact_result').html('Message sent.');
                            } else {
                                $("#contact_form").show();
                                $('#contact_result').html('Message failed to send. Please try again.');
                                $('#contact_error_group').css('display', 'block');
                                var errors = JSON.parse(JSON.stringify(res.errors));
                                var errorsContainer = $('#contact_errors');
                                errorsContainer.innerHTML = '';
                                var errorsList = '';

                                for (var i = 0; i < errors.length; i++) {
                                    errorsList += '<li>' + errors[i].msg + '</li>';
                                }
                                errorsContainer.html(errorsList);
                            }
                        });
                    });
                });
            </script>

            <script src="js/scripts.min.js"></script>
            <script src="js/main.min.js"></script>
            <script src="js/custom.js"></script>

</body>

</html>