<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <!-- START: navbar -->

    <!-- <div class="probootstrap-loader"></div> -->

    <header>
        <% include ./partials/header %>
    </header>
    <!-- END: navbar -->

    <!-- START: navbar -->

    <section id="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">We <span class="highlight">connect</span> farmers to markets, services & information.</h1>
            <p class="sub-heading">FoodPrint makes it easier for farmers to maintain records, access crop insurance and get to market. Accessible via Web & WhatsApp.</p>
            <a class="cta-button request-demo-btn" href="#">Request Demo</a>
        </div>
    </section>

    <!-- END: header  -->


    <!-- START: Benefits -->

    <section id="benefits">
        <div class="section-header">
            <h1 class="section-title">Why Use Foodprint?</h1>
        </div>
        <div class="benefits-container">
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/production.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/finance.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/information.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
        </div>
    </section>

    <!-- END: Benefits -->

    <!-- START: Features -->

    <section id="features">
        <div class="section-header">
            <h1 class="section-title">Features</h1>
        </div>
        <div class="features-container">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_gardening_re_e658.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Farmers</h1>
                    <ul class="description">
                        <li>Digital Harvest Logbook</li>
                        <li>Wholesale Marketplace</li>
                        <li>Produce Reporting & Analytics</li>
                        <li>Market Directory (farm-to-fork markets)</li>
                        <li>Retailer Directory (farm-to-fork retailers)</li>
                    </ul>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_add_to_cart_re_wrdo.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Buyers</h1>
                    <ul class="description">
                        <li>Buy Fresh Produce Online</li>
                        <li>QR Codes for Produce Provenance</li>
                        <li>Weekly Produce View</li>
                        <li>Market Directory (farm-to-fork markets)</li>
                        <li>Retailer Directory (farm-to-fork retailers)</li>
                    </ul>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="/new_images/undraw_services_re_hu5n.svg" alt="farmer" />
                </div>
                <div class="feature-details">
                    <h1 class="feature-title">Service Providers</h1>
                    <ul class="description">
                        <li>Digital Storage/Handover Logbook</li>
                        <li>Bulk Wholesale Produce Ordering</li>
                        <li>Produce Reporting & Analytics</li>
                        <li>Digital Produce Traceability</li>
                        <li>Farmer Directory</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- END: Features -->

    <!-- START: GDS -->

    <section id="gds-section">
        <div class="section-header">
            <h1 class="section-title">GDS</h1>
        </div>
        <div class="gds-container">
            <div class="gds-item">
                <img src="/img/E_WEB_02.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_08.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_09.png" class="gds-icon" alt="" />
            </div>
            <div class="gds-item">
                <img src="/img/E_WEB_12.png" class="gds-icon" alt="" />
            </div>
        </div>
    </section>

    <!-- END: GDS -->


    <!-- START: Partners -->
    <section id="partners">
        <div class="section-header">
            <h1 class="section-title">Partner Network</h1>
        </div>
        <div class="partners-container">
            <div class="partners-item probootstrap-animate">
                <img src="/img/algorand_foundation.jpg" class="partners-icon" alt="Algorand Foundation" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/feed.jpg" class="partners-icon" alt="Food Equity, Equality and Democracy" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/ozcf.jpg" alt="Oranjezicht City Farm" class="partners-icon" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/pedi.jpg" alt="Philippi Economic Development Initiative" class="partners-icon" alt="" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/uct.jpg" alt="University of Cape Town" class="partners-icon" />
            </div>
            <div class="partners-item probootstrap-animate">
                <img src="/img/oribi.jpg" alt="Oribi Village Impact Incubator" class="partners-icon" />
            </div>
        </div>
    </section>
    <!-- END: Partners -->
    <!-- START: Featured On -->

    <section id="featured-on">
        <div class="section-header">
            <h1 class="section-title">Featured On</h1>
        </div>
        <div class="featured-on-container">
            <div class="featured-on-item">
                <img src="/new_images/sabc.png" class="featured-on-icon" alt="" />
            </div>
            <div class="featured-on-item">
                <img src="/new_images/enca.png" class="featured-on-icon" alt="" />
            </div>
            <div class="featured-on-item">
                <img src="/new_images/uct_news.png" class="featured-on-icon" alt="" />
            </div>
        </div>
    </section>

    <!-- END: GDS -->
    <!-- START: Contact US -->

    <section id="contact">
        <div class="section-header">
            <h1 class="section-title">Contact Us</h1>
        </div>
        <form method="post" action="/send/message" class="form">
            <div class="form-group">
                <label for="name" class="form-group">Name</label>
                <input id="name" name="name" placeholder="Name" />
            </div>
            <div class="form-group">
                <label for="email" class="form-group">Email</label>
                <input id="email" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="message" class="form-group">Message</label>
                <textarea id="message" name="message" placeholder="Message" cols="20" rows="5"></textarea>
            </div>
            <button type="submit" class="form-submit">Send</button>
        </form>
    </section>

    <!-- END: Contact US -->


    <!-- start footer -->
    <% include ./partials/footer %>
        <!-- end footer -->



        <div id="demoRequestModal">
            <div class="overlay"></div>
            <div class="modal-container">
                <div class="modal-dialog">
                    <div class="header">
                        <h1 class="title">Request a demo</h1>
                        <span id="close-request-modal" class="close-icon"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="form-container">

                        <form method="post" action="/send/message" class="form">
                            <div class="form-group">
                                <label for="name" class="form-group">Name</label>
                                <input id="name" name="name" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-group">Email</label>
                                <input id="email" name="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label for="message" class="form-group">Message</label>
                                <textarea id="message" name="message" placeholder="Message" cols="10" rows="4"></textarea>
                            </div>
                            <button type="submit" class="form-submit">Send</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
        </div>

        <script src="js/scripts.min.js"></script>
        <script src="js/main.min.js"></script>
        <script src="js/custom.js"></script>

</body>

</html>