<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <!-- START: navbar -->

    <div class="probootstrap-loader"></div>

    <header>
        <% include ./partials/header %>
    </header>
    <!-- END: navbar -->

    <!-- START: navbar -->

    <section id="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">We <span class="highlight">connect</span> farmers to markets, services & information.</h1>
            <p class="sub-heading">FoodPrint makes it easier for farmers to maintain records, access crop insurance and get to market. Accessible via Web & WhatsApp.</p>
            <a class="cta-button" href="#">Request Demo</a>
        </div>
    </section>

    <!-- END: header  -->


    <!-- START: Benefits -->

    <section id="benefits">
        <div class="section-header">
            <h1 class="section-title">Why Use Foodprint?</h1>
        </div>
        <div class="benefits-container">
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="benefit-card">
                <img src="/new_images/traceability.png" alt="traceability" class="icon">
                <div class="feature-title">Traceability</div>
                <p class="description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
        </div>
    </section>

    <!-- END: Benefits -->

    <!-- START: Features -->

    <section id="features">
        <div class="section-header">
            <h1 class="section-title">Features</h1>
        </div>
        <div class="features-container">

        </div>
    </section>

    <!-- END: Features -->

    <!-- START: GDS -->

    <section id="gds">
        <div class="section-header">
            <h1 class="section-title">GDS</h1>
        </div>
        <div class="gds-container">

        </div>
    </section>

    <!-- END: GDS -->


    <!-- START: Partners -->
    <section class="probootstrap-section">
        <div class="container">
            <div class="row">
                <h3 class="heading text-center">PARTNERS AND SUPPORT</h3>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img src="/img/algorand_foundation.jpg" alt="Algorand Foundation" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img src="/img/feed.jpg" alt="Food Equity, Equality and Democracy" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img class="mobile-image-fit" src="/img/ozcf.jpg" alt="Oranjezicht City Farm" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-lg-block visible-md-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img src="/img/pedi.jpg" alt="Philippi Economic Development Initiative" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img src="/img/uct.jpg" alt="University of Cape Town" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                    <div class="service" style="text-align: center;">
                        <div class="icon"><img src="/img/oribi.jpg" alt="Oribi Village Impact Incubator" height="50%"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-lg-block visible-md-block"></div>
            </div>
        </div>
    </section>
    <!-- END: Partners -->
    <!-- START: Contact US -->

    <section id="contact">
        <div class="section-header">
            <h1 class="section-title">Contact Us</h1>
        </div>
        <form method="post" action="/send/message" class="form">

        </form>
    </section>

    <!-- END: Contact US -->


    <!-- start footer -->
    <% include ./partials/footer %>
        <!-- end footer -->

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
        </div>

        <script src="js/scripts.min.js"></script>
        <script src="js/main.min.js"></script>
        <script src="js/custom.js"></script>

</body>

</html>